.orange
{
    background-color: #FF5555;
}
.pink
{
    background-color: #FF2A55;
}
.green
{
    background-color: #05AF76;
}
.blue
{
    background-color: #0699CE;
}
.purple
{
    background-color: #8257B5;
}
