html, body
{
    height:100%;
    width:100%;
}
body
{
    color: #627987;
    font-family: roboto, Arial, verdana, serif, sans-serif;
    font-size: 14px;
    background-color:#f8f8f8;
}
.alert{
    color:white;
    padding:10px 20px;
}
.alert{
    color:white;
    padding:10px 20px;
}
.alert span
{
    margin-right: 10px;
}
.hide
{
    display:none;
}
/*#2f323e*/

/*general*/
#menuTop
{
    border-radius:0;
    border-bottom:0;
    background-color: #29a9dc;
}
.navbar-brand
{
    margin:0;
}
.navbar-header > .navbar-brand
{
    color:#fff;
}
button[class*="ddfj-"]
{
    font-size: 30px;
    padding:5px;
    margin: 5px;
    background: transparent;
}
button[class*="ddfj-"]:hover, button[class*="ddfj-"]:focus, button[class*="ddfj-"].actived
{
    color:#fff;
}
.nav
{
    padding:0 5px;
}
.nav a.icon-display
{
    padding:0;
}
#menuTop .navbar-right
{
    margin: 0;
}
#menuTop .navbar-right a
{
    padding-left:5px;
    padding-right:5px;
    color:#cde7f2;
}

/*leftSide Menu*/
#menuLeft
{
    margin:0;
    top:50px;
    height:calc(100% - 50px);
    padding:0;
    background-color: #edeff0;
    width:90px;
    overflow: hidden;
}
#menuLeft .nav a
{
    color:#708899;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e6e7;
    height:90px;
    width:90px;
    border-left:transparent solid 2px;
}
#menuLeft .nav a:hover
{
    color:#ef414d;
}
#menuLeft .nav a:focus, #menuLeft .nav a.actived, #menuLeft .nav a.actived:hover
{
    background-color:#e5e6e7;
    color:#ef414d;
    border-left:2px solid #ef414d;
}
#menuLeft .nav span[class*="ddfj-"]
{
    font-size:30px;
    display: block;
}
.text-icon
{
    padding:5px 0;
    display: block;
    font-size: 10px;
}

/*main container*/
.main-container
{
    margin-left: 90px;
}/*
.legend [class*="legend-line-"]
{
    background: #2f323e;
}*/
.page-title
{
    background-color: #f1f2f3;
    height: 90px;
    margin-bottom: 15px;
}
h1
{
    font-weight: 100;
    font-size: 2em;
}
.page-title [class*="col-"]:last-child p
{
    padding: 5px 10px;
    font-size: 12px;
    margin:0;
}
.todayDateTop
{
    color:#29a9dc;
}
.footer
{
    color:white;
    padding:20px 0;
    background-color: #2B2B37;
    margin-top: 20px;
}
.footer *
{
    padding:0;
    margin:0;
}

/*wrapper may be for full website*/
.wrapper {
    display: inline-block;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}

/*pp*/
.pp-account-small
{
    width:40px;
    line-height: 40px;
    display: inline-block;
    color:white;
    margin:10px;
}
/*notif*/
.notif > div > *
{
    padding:10px 30px;
    margin:0;
}
.notif-list
{
    padding:0 30px;
    font-size: 12px;
}
.notif-list p
{
    margin:2px;
}
.notif-list li
{
    padding: 5px 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
    opacity: 0.3;
    -o-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    transition: all linear 0.3s;
}
.notif-list li:hover
{
    opacity:1;
}
.notif-list li.messages, .notif-list li.messages::after
{
    background-color: #05AF76;
}
.notif-list li.messages::before
{
    border-color: #05AF76;
}
.notif-list li.uploads, .notif-list li.uploads::after
{
    background-color: #8257B5;
}
.notif-list li.uploads::before
{
    border-color: #8257B5;
}
.notif-list li.rents, .notif-list li.rents::after
{
    background-color: #FF2A55;
}
.notif-list li.rents::before
{
    border-color: #FF2A55;
}
.notif-list li.orders, .notif-list li.orders::after
{
    background-color: #0699CE;
}
.notif-list li.orders::before
{
    border-color: #0699CE;
}
.notif-list li.reports, .notif-list li.reports::after
{
    background-color: #FF5555;
}
.notif-list li.reports::before
{
    border-color: #FF5555;
}
.notif-list .disabled
{
    opacity: 0.6;
}
.notif-list li h5
{
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}
