.charts
{
    padding-top: 15px;
}
.container-wrapper
{
    border:1px solid '#E1E1E1';
}
/*notif*/
.notif > div
{
    background-color: #E2E5EE;
}
.notif > div > *
{
    padding:10px 30px;
    margin:0;
}
.notif-list li
{
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    opacity: 0.5;
}
.notif-list li:hover
{
    opacity: 1;
    cursor: pointer;
}
.notif-list li:hover h5
{
    color: #29a9dc;
}
.notif-list .disabled
{
    opacity: 0.5;
}
.notif-list li h5
{
    border-bottom:1px solid #E2E5EE;
    padding-bottom: 20px;
}
