.general-info-table-top
{
    padding-bottom: 10px;
    padding: 10px 15px;
}
.general-info-table-top > *
{
    padding:10px 15px 0 15px;
}
.action-table
{
    position: relative;
    padding-top:65px;
    margin-top: 55px;
    margin-bottom: 15px;
}
.table.table-hover tbody tr td
{
    line-height: 40px;
}
.table.table-hover thead tr th
{
    font-weight: 400;
}
.table-title
{
    position:absolute;
    width:90%;
    padding:20px 20px;
    top:-65px;
    color:white;
    left:5%;
    font-size: 3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.table.table-hover tbody tr td
{
    padding:15px 5px;
    color:#999;
}
.table.table-hover tr td a:hover, .table.table-hover tr th a:hover
{
    color:black;
}
.pp-account-small
{
    margin:0 10px;
}
.data-table .btn
{
    margin:0 5px;
    color:white;
}
.data-table .btn:hover
{
    color:black;
}
tr.read, .table.table-hover tr.read:hover
{
    background-color: #eee;
}
