.pp-account
{
    width:100px;
    line-height: 100px;
    display: inline-block;
    color:white;
    margin-bottom: 20px;
    text-align: center;
}
.editProf form
{
    padding: 40px;
}
.box
{
    margin-bottom: 50px;
}

.group-info
{
    padding:20px 40px;
}

h1
{
    font-weight: 100;
}
